* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e8f0fb;
}

form {
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
}

input,
button {
    border: none;
    background: white;
    margin: 0;
}

input {
    font-size: 16px;
    padding: 10px 12px;
}

button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    width: 18px;
    height: 18;
    fill: black;
}

ul {
    position: absolute;
    top: 100%;
    margin-top: -1px;
    width: 100%;
    z-index: 1;
    background: #fff;
    margin: 0;
    list-style: none;
    transition: none;
    padding: 0;
    border: 1px solid #bfc8c9;
}

ul li {
    padding: 6px 12px;
    transition: 0.2s background;
    cursor: pointer;
}

ul li:hover {
    background: #e6f0f2;
}

ul li+li {
    border-top: 1px solid #bfc8c9;
}

.hidden {
    display: none;
}